.cover-image {
    position: relative;
    animation: ease-in-out;
    animation-fill-mode: forwards; 
    animation-name: image;
    animation-duration: 1s;
    animation-delay: 0.20s;
  }

  @keyframes image {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(30%);
    }
  }

  .description {
    position: relative;
    left:1%;
    animation: ease-in-out;
    animation-fill-mode: forwards; 
    animation-name: text;
    animation-duration: 1s;
    animation-delay: 0.20s;
  }

  @keyframes text {
    0% {
      transform: translateX(1%);
    }
    100% {
      transform: translateX(5%);
    }
  }

  .page {
    overflow: hidden;
  }