.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    color: lightgray;
  }

  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .nav-item.active a {
    color: yellow;
  }
  
  .nav-item a:hover {
    color: lightgray;
  }
  